@mixin gilroyBold {
  font-family: "Gilroy-Bold", sans-serif;
}
@mixin gilroyHeavy {
  font-family: "Gilroy-Heavy", sans-serif;
}
@mixin gilroyLight {
  font-family: "Gilroy-Light", sans-serif;
}
@mixin gilroyMedium {
  font-family: "Gilroy-Medium", sans-serif;
}
@mixin gilroyRegular {
  font-family: "Gilroy-Regular", sans-serif;
}
@mixin Arkhip {
  font-family: "Arkhip", sans-serif;
}
