@media (max-width: 1440px) {
  .container {
    max-width: 90%;
  }
  .post__title {
    max-width: 765px;
  }
  .post__info {
    max-width: 765px;
  }
  .post__description {
    max-width: 765px;
  }
  .post__charakter {
    max-width: 765px;
  }
  .post__form{
    top: 72%;
  }
  .home__item{
    padding-right: 45px;
  }
}
