@import "./normalize.scss";
@import "./fonts.scss";
@import "./mobil.scss";
body {
  @include gilroyRegular;
}
.main {
  background: transparent url(@img/main.png) no-repeat;
  overflow-x: hidden;
}
.container {
  max-width: 1674px - 164px;
  padding: 0 12px;
  margin: 0 auto;
}
.header {
  background: #075f43;
  padding: 30px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.header__burger {
  display: none;
}
.header__flex {
  display: flex;
  align-items: center;
}
.header__user {
  display: flex;
  align-items: center;
  margin-left: 70px;
  a {
    display: flex;
    align-items: center;
    position: relative;
    span {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      text-align: center;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 8px;
      color: #393939;
      @include gilroyRegular;
      background: #dbab00;
      top: 5%;
      left: 30%;
    }
  }
  .btn:not(:last-child) {
    margin-right: 15px;
  }
}
.btn {
  border: 1px solid white;
  border-radius: 10px;
  padding: 7px 25px;
  p {
    color: white;
    padding-left: 10px;
    @include gilroyMedium;
    font-size: 18px;
  }
  &-white {
    background-color: white;
    p {
      color: #1d8f6b;
      @include gilroyMedium;
      line-height: 21px;
    }
  }
}
.header__social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  a {
    &:first-child {
      margin-right: 15px;
    }
  }
}
.header__contact {
  margin-left: 70px;
  a {
    color: white;
    font-size: 18px;
    line-height: 21px;
    @include gilroyMedium;
  }
}
.header__menu {
  margin-left: auto;
  .menu {
    li {
      a {
        @include gilroyMedium;
        font-size: 18px;
        line-height: 21px;
        color: #ffffff;
      }
    }
  }
}
.hero {
  background: url(@img/banner.png) center center/cover no-repeat;
}
.hero {
  padding: 300px 0;
}
.title {
  @include Arkhip;
  font-size: 60px;
  line-height: 72px;
  text-transform: uppercase;
  color: #075f43;
  max-width: 580px;
  padding-bottom: 60px;
}
.hero__filter {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(12px);
  border-radius: 12px;
  padding: 26px;
  height: 100px;
  form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}
.form__item {
  max-width: 255px;
  width: 100%;
  display: flex;
  flex-direction: column;
  &.active {
    .form__input {
      display: flex;
    }
  }
  &.price {
    .price__select {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      label {
        width: 30%;
        justify-content: flex-start;
        p {
          font-size: 18px;
        }
        input {
          display: none;
        }
        span {
          display: block;
          background: #ffffff;
          border: 0.5px solid #e5e5e5;
          width: 18px;
          height: 18px;
          border-radius: 50%;
        }
        input:checked ~ span {
          border: 5px solid #075f43;
        }
      }
    }
  }
  &.type {
    .form__input {
      padding: 20px 13px 10px 13px;
      label {
        width: 100%;
        justify-content: space-between;
        p {
          font-size: 14px;
        }
      }
    }
  }
  &.room {
    .form__input {
      padding: 20px 32px 10px 42px;
    }
    label {
      width: 50%;
      justify-content: flex-start;
      p {
        font-size: 18px;
      }
    }
  }
}
.price__input {
  max-width: 100%;
  label {
    background: #ffffff;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    padding: 8px;
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    p {
      border-right: 1px solid #c4c4c4;
      padding-right: 15px;
    }
  }
}
.form__drop {
  display: flex;
  align-items: center;
  background: #075f43;
  border-radius: 10px;
  width: 100%;
  justify-content: space-between;
  padding: 12px;
  cursor: pointer;
  z-index: 2;
  p {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
  }
}
.btn-yelow {
  background: #dbab00;
  box-shadow: 0px 2px 9px rgba(163, 129, 11, 0.51);
  border: none;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
  @include gilroyBold;
  padding: 12px 28px;
  cursor: pointer;
}
.form__input {
  transform: translateY(-10px);
  z-index: 1;
  background: #eeeeee;
  border: 1px solid rgba(223, 223, 223, 0.8);
  border-radius: 0 0 10px 10px;
  padding: 20px 13px 10px 13px;
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 255px;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    justify-content: space-between;
    p {
      margin-right: 15px;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #626262;
    }
  }
}
.container__cheackbox {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 10px;
}

/* Hide the browser's default checkbox */
.container__cheackbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
}

/* On mouse-over, add a grey background color */
.container__cheackbox:hover input ~ .checkmark {
  background-color: #075f43;
}

/* When the checkbox is checked, add a blue background */
.container__cheackbox input:checked ~ .checkmark {
  background-color: #075f43;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container__cheackbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container__cheackbox .checkmark:after {
  left: 8px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.price {
  .variation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px 0 20px;
    .price__select {
      margin-top: 20px;
      width: 100%;
    }
    .price__select-item {
      background: #ffffff;
      border: 1px solid #e8e8e8;
      border-radius: 4px;
      display: flex;
      align-items: center;
      padding: 8px 0px 8px 8px;
      span {
        @include gilroyBold;
        display: block;
        padding-right: 10px;
        margin-right: 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #626262;
        border-right: 2.5px solid #c4c4c4;
      }
      input {
        border: none;
        outline: none;
        width: 100%;
      }
    }
    label {
      margin-bottom: 0;
      p {
        font-size: 24px;
      }
      .checkmark {
        border-radius: 50%;
        &:after {
          width: 8px;
          height: 8px;
          background: #fff;
          border-radius: 50%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
.home__flex {
  margin-top: 60px;
  .swiper-wrapper {
    display: block;
  }
}
.home__item {
  background: #ffffff;
  border: 1px solid #cfcfcf;
  box-shadow: 0px 4px 30px #dce3f4;
  border-radius: 20px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}
.home__img {
  max-width: 570px;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 60px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.home__detail {
  width: 50%;
  margin-top: 25px;
}
.home__title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  h3 {
    font-size: 28px;
    line-height: 34px;
    color: #333333;
    @include gilroyBold;
    margin-bottom: 13px;
  }
  p {
    font-size: 14px;
    line-height: 126.7%;
    color: #333333;
    @include gilroyBold;
    max-width: 230px;
  }
  button {
    cursor: pointer;
    &:hover {
      svg {
        fill: red;
        path {
          fill: red;
        }
      }
    }
  }
}
.home__info {
  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 162.7%;
    @include gilroyRegular;
    color: #333333;
    margin: 20px 0;
  }
}
.home__price {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid #626262;
  border-bottom: 1px solid #626262;
  p {
    @include gilroyBold;
    font-size: 28px;
    line-height: 34px;
    color: #075f43;
  }
  > span {
    font-size: 18px;
    line-height: 22px;
    @include gilroyBold;
    color: #626262;
  }
}
.home__manager {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 0 40px;
}
.manager__viber {
  a {
    background: url(@img/viber.png) left center no-repeat;
    padding-left: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 21px;
    color: #626262;
    @include gilroyMedium;
  }
}
.manager__name {
  h4 {
    font-size: 21px;
    line-height: 25px;
    @include gilroyBold;
    color: #075f43;
  }
}
.manager__phone {
  a {
    background: url(@img/Subtract.png) left center no-repeat;
    padding-left: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 21px;
    color: #626262;
    @include gilroyMedium;
  }
}
.manager {
  display: flex;
  align-items: center;
}
.manager__phone {
  display: flex;
  align-items: center;
}
.manager__viber {
  display: flex;
  align-items: center;
}
.home__manager {
  margin-top: 23px;
}
.manager__img {
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
  width: 46px;
  height: 46px;
  img {
    object-fit: cover;
  }
}
.section__title {
  margin-bottom: 27px;
  h2 {
    font-size: 36px;
    line-height: 43px;
    color: #626262;
    @include gilroyMedium;
  }
}
.instagram__item {
  padding: 10px;
  background: #ffffff;
  border: 1px solid #cfcfcf;
  box-shadow: 0px 4px 30px #dce3f4;
  border-radius: 20px;
  max-width: 32%;
  display: block;
  margin-bottom: 55px;
}
.instagram__img {
  border-radius: 20px;
  overflow: hidden;
}
.instagram__detail {
  margin-top: 15px;
  p {
    font-size: 16px;
    line-height: 126.7%;
    color: #626262;
    @include gilroyRegular;
  }
}
.instagram__flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.btn__home {
  margin: 0 auto;
  display: block;
  max-width: 180px;
  padding: 10px 26px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  font-size: 16px;
  line-height: 126.7%;
  @include gilroyMedium;
  color: #626262;
}
.benefits__img {
  background: #075f43;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100px;
  height: 100px;
}
.benefits__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 33%;
  width: 100%;
  margin-bottom: 55px;
}
.benefits__detail {
  margin-top: 15px;
  max-width: 255px;
  h3 {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    @include gilroyBold;
    color: #626262;
  }
  p {
    text-align: center;
    font-size: 14px;
    line-height: 126.7%;
    @include gilroyRegular;
    color: #626262;
  }
}
.benefits__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.question {
  background: url(@img/oblojka.png) center center/cover no-repeat;
  padding: 194px 0 180px 0;
}
.question__flex {
  background: #075f43;
  border-radius: 43px;
  padding: 43px 0 43px 355px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  &:after {
    position: absolute;
    content: "";
    background: url(@img/manager.png) center center no-repeat;
    top: -15%;
    left: 0;
    width: 300px;
    height: 500px;
  }
}
.question__title {
  max-width: 540px;
  h4 {
    font-size: 36px;
    line-height: 43px;
    @include gilroyRegular;
    color: #ffffff;
  }
  p {
    font-size: 18px;
    @include gilroyRegular;
    color: #ffffff;
    margin-bottom: 31px;
    margin-top: 10px;
  }
}
.question__flex {
  form {
    max-width: 540px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    button {
      width: 100%;
      max-width: 45%;
      margin-top: 25px;
    }
    .price__select-item {
      background-color: white;
      padding: 11px;
      border-radius: 10px;
      border: 1px solid #cfcfcf;
      span {
        border-right: 2px solid #cfcfcf;
        padding-right: 15px;
      }
    }
    input {
      max-width: 45%;
    }
    label {
      max-width: 214px;
      margin-top: 25px;
      flex-direction: row-reverse;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      p {
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #ffffff;
        @include gilroyRegular;
      }
    }
  }
}
.footer {
  padding: 42px 0;
  background: #075f43;
}
.footer__flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  ul {
    font-size: 14px;
    line-height: 16px;
    @include gilroyMedium;
    color: #ffffff;
    li {
      margin-bottom: 15px;
    }
    a {
      font-size: 14px;
      line-height: 16px;
      @include gilroyMedium;
      color: #ffffff;
    }
  }
  h3 {
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    @include gilroyBold;
    margin-bottom: 10px;
    color: #ffffff;
  }
  .header__social {
    margin-left: 0;
  }
}
.login {
  padding: 342px 0;
  background: url(@img/login.png) center/cover no-repeat;
}
.login__form {
  > label {
    max-width: 214px;
    margin-top: 25px;
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    p {
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: center;
      color: #ffffff;
      @include gilroyRegular;
    }
  }
}
.login__container {
  background: #075f43;
  border-radius: 20px;
  max-width: 600px;
  padding: 38px;
  margin: 0 auto;
  h2 {
    font-size: 28px;
    line-height: 33px;
    @include gilroyBold;
    margin-bottom: 20px;
    color: #dbab00;
  }
}
.login__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #dbab00;
  padding-bottom: 40px;
  .btn {
    max-width: 45%;
    width: 100%;
    margin-top: 40px;
    text-align: center;
    text-transform: uppercase;
    @include gilroyBold;
    color: #ffffff;
  }
}
.login__input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  label {
    max-width: 45%;
    width: 45%;
    p {
      font-size: 14px;
      line-height: 16px;
      @include gilroyRegular;
      color: #ffffff;
    }
    input {
      margin-top: 15px;
      max-width: 100%;
      width: 100%;
      background: #ffffff;
      border: 1px solid #c4c4c4;
      border-radius: 10px;
      padding: 8px;
    }
  }
}
.login__account {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  a {
    display: flex;
    align-items: center;
    background: #ffffff;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    padding: 6px 13px;
    max-width: 45%;
    width: 100%;
    img {
      margin-right: 10px;
    }
    p {
      font-size: 14px;
      line-height: 16px;
      @include gilroyRegular;
      color: #626262;
    }
  }
}
.post {
  padding: 120px 0;
}
.post__slide {
  border-radius: 20px;
  overflow: hidden;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.post__slider {
  max-width: 58%;
  width: 100%;
  margin-left: 0 !important;
  margin-right: 0 !important;
  .swiper-button-prev::after {
    content: none;
  }
  .swiper-button-prev {
    width: 44px;
    height: 44px;
  }
  .swiper-button-next {
    width: 44px;
    height: 44px;
  }
  .swiper-button-next::after {
    content: none;
  }
}
.post__price {
  max-width: 40%;
  width: 100%;
  background: #ffffff;
  border: 1px solid #cfcfcf;
  box-shadow: 0px 4px 30px #dce3f4;
  border-radius: 20px;
}
.post__main {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.post__price {
  padding: 40px 35px;
}
.price__cost {
  margin: 0 auto;
  max-width: 140px;
  margin-bottom: 28px;
  span {
    @include gilroyBold;
    font-size: 36px;
    line-height: 44px;
    color: #075f43;
  }
  p {
    font-size: 24px;
    line-height: 29px;
    color: #626262;
    @include gilroyBold;
    margin: 15px 0;
  }
}
.price__manager {
  padding-top: 28px;
  border-top: 1px solid #626262;
  .manager__phone {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    a {
      padding-bottom: 5px;
      padding-top: 5px;
    }
  }
  .manager__viber {
    padding-left: 20px;
    a {
      padding-bottom: 5px;
      padding-top: 5px;
    }
  }
}
.manager__post {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 15px;
  a {
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #dbab00;
    @include gilroyRegular;
  }
}
.post__atribute {
  display: flex;
  align-items: center;
  padding: 40px 0 40px 26px;
  .atribute {
    background: #eeeeee;
    border: 1px solid #626262;
    border-radius: 6px;
    padding: 8px 11px;
    margin-right: 16px;
    p {
      font-size: 16px;
      line-height: 126.7%;
      @include gilroyRegular;
      color: #333333;
    }
  }
  .atribute-yellow {
    background: #dbab00;
  }
}
.post {
  background: url(@img/postsBg.png) top center/cover no-repeat;
}
.post__title {
  max-width: 1040px;
  width: 100%;
  position: relative;
  margin: 15px 0;
  background: #ffffff;
  border-radius: 10px;
  padding: 20px 30px;
  box-shadow: 0px 4px 30px #dce3f4;
  h1 {
    @include gilroyBold;
    font-size: 32px;
    line-height: 39px;
    color: #333333;
  }
  p {
    @include gilroyRegular;
    font-size: 16px;
    line-height: 126.7%;
    color: #333333;
  }
}
.post__info {
  max-width: 1040px;
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
  padding: 20px 30px;
  box-shadow: 0px 4px 30px #dce3f4;
  h2 {
    @include gilroyBold;
    font-size: 32px;
    line-height: 39px;
    color: #333333;
  }
}
.info__flex {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.info__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  &:not(:last-child) {
    border-right: 1px solid #cfcfcf;
    padding-right: 20px;
  }
  h4 {
    @include gilroyBold;
    font-size: 16px;
    line-height: 126.7%;
    text-align: center;
    color: #333333;
  }
  span {
    font-size: 16px;
    line-height: 126.7%;
    @include gilroyMedium;
    text-align: center;
    color: #333333;
  }
}

.post__description {
  max-width: 1040px;
  width: 100%;
  margin: 15px 0;
  background: #ffffff;
  border-radius: 10px;
  padding: 20px 30px;
  box-shadow: 0px 4px 30px #dce3f4;
  h2 {
    @include gilroyBold;
    font-size: 32px;
    line-height: 39px;
    color: #333333;
  }
}

.post__description-text {
  padding-top: 30px;
  p {
    font-size: 14px;
    line-height: 162.7%;
    @include gilroyMedium;
    color: #333333;
  }
}
.post__charakter {
  max-width: 1040px;
  width: 100%;
  margin: 15px 0;
  background: #ffffff;
  border-radius: 10px;
  padding: 20px 30px;
  box-shadow: 0px 4px 30px #dce3f4;
  h2 {
    @include gilroyBold;
    font-size: 32px;
    line-height: 39px;
    color: #333333;
  }
}
.post__charakter-text {
  ul {
    list-style: disc;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    li {
      margin-bottom: 15px;
      font-size: 18px;
      line-height: 162.7%;
      @include gilroyRegular;
      color: #333333;
      span {
        @include gilroyBold;
      }
    }
  }
}
.post__form {
  max-width: 350px;
  width: 100%;
  padding: 24px 50px;
  background: #075f43;
  box-shadow: 0px 4px 30px #dce3f4;
  border-radius: 20px;
  position: absolute;
  top: 104%;
  right: 12%;
  h3 {
    font-size: 36px;
    line-height: 43px;
    color: #ffffff;
    @include gilroyBold;
    margin-bottom: 14px;
  }
  p {
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    @include gilroyMedium;
    margin-bottom: 15px;
  }
  form {
    .price__select-item {
      background-color: #fff;
      padding: 11px;
      border-radius: 10px;
      border: 1px solid #cfcfcf;
      margin-bottom: 24px;
      span {
        border-right: 2px solid #cfcfcf;
        padding-right: 5px;
      }
    }
    .btn {
      width: 100%;
      max-width: 100%;
    }
  }
}
.last__post-item {
  background: #ffffff;
  border: 1px solid #dedede;
  box-shadow: 0px 4px 5px #dce3f4;
  border-radius: 20px;
  padding: 9px 10px;
  position: relative;
  button {
    cursor: pointer;
    position: absolute;
    right: 5%;
    bottom: 15%;
  }
}
.last__post-img {
  display: block;
  border-radius: 20px;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.last__post-detail {
  margin-top: 16px;
  h3 {
    font-size: 24px;
    line-height: 29px;
    @include gilroyBold;
    color: #626262;
  }
  p {
    margin-top: 12px;
    margin-bottom: 19px;
    font-size: 16px;
    line-height: 126.7%;
    @include gilroyRegular;
    max-width: 215px;
    color: #626262;
  }
}
.last__post-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 26px;
  p {
    font-size: 28px;
    line-height: 34px;
    @include gilroyBold;
    color: #075f43;
  }
  span {
    font-size: 14px;
    line-height: 17px;
    @include gilroyRegular;
    color: #626262;
    &:not(:last-child) {
      margin-right: 12px;
      padding-right: 12px;
      border-right: 1px solid #c4c4c4;
    }
  }
}
.last {
  padding-bottom: 65px;
}
.about {
  padding: 120px 0 40px 0;
  background: url(@img/postsBg.png) top center/cover no-repeat;
  .post__form {
    display: none;
  }
}
.about__item {
  padding-top: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 120px;
  &:nth-child(2n) {
    flex-direction: row-reverse;
  }
  &:last-child {
    display: block;
  }
}
.about__info {
  max-width: 444px;
  h3 {
    font-size: 36px;
    line-height: 43px;
    @include gilroyBold;
    color: #075f43;
    margin-bottom: 32px;
  }
  p {
    font-size: 16px;
    line-height: 126.7%;
    @include gilroyMedium;
    color: #333333;
    margin-bottom: 15px;
  }
  ul {
    max-width: 340px;
    li {
      font-size: 16px;
      line-height: 126.7%;
      @include gilroyMedium;
      color: #333333;

      position: relative;
      &:not(:last-child) {
        margin-bottom: 52px;
      }
      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 35px;
        height: 35px;
        background: #dbab00;
        box-shadow: 0px 4px 8px rgba(163, 129, 11, 0.44);
        top: 50%;
        left: -20%;
        transform: translate(0%, -50%);
        border-radius: 50%;
      }
    }
  }
}
.about__img {
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #075f43;
  padding: 14px;
  img {
    border-radius: 50%;
    object-fit: cover;
  }
}

.about__info-question {
  margin-bottom: 35px;
  h4 {
    font-size: 24px;
    line-height: 29px;
    @include gilroyBold;
    color: #333333;
    margin-bottom: 15px;
  }
  p {
    font-size: 14px;
    line-height: 126.7%;
    @include gilroyMedium;
    color: #333333;
  }
}
.about__slider {
  overflow: visible !important;
  margin-top: 60px;
  padding-bottom: 100px !important;
}
.about__slider-slide {
  border: 1px solid #075f43;
  border-radius: 50%;
  padding: 15px;
  max-width: 350px;
  .about__slider-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.about__slide-content {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  &:hover {
    .about__slider-info {
      transform: translate(0%, 0%);
    }
  }
}
.about__slider-info {
  position: absolute;
  transform: translate(0%, 120%);
  transition: all 0.4s linear;
  top: 0;
  left: 0;
  background: rgba(29, 143, 107, 0.6);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h4 {
    font-size: 24px;
    line-height: 126.7%;
    @include gilroyBold;
    text-align: center;
    color: #ffffff;
    margin-bottom: 15px;
  }
  p {
    font-size: 14px;
    line-height: 126.7%;
    @include gilroyMedium;
    text-align: center;
    color: #ffffff;
    max-width: 250px;
  }
}
.about__slider-scrollbar {
  background: #e8e8e8 !important;
  height: 10px !important;
  border-radius: 5px !important;

  .swiper-scrollbar-drag {
    background: #075f43;
    box-shadow: 5px 1px 10px rgba(29, 143, 107, 0.6);
    border-radius: 5px;
  }
}
.catalog {
  padding: 80px 0;
  .section__title {
    h2 {
      font-family: "Gilroy-Bold";
      font-size: 28px;
      line-height: 33px;
      color: #075f43;
      text-align: center;
      margin: 28px 0;
    }
  }
}
.catalog__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .last__post-item {
    max-width: 30%;
    margin-bottom: 20px;
  }
}
.variation {
  .btn {
    display: none;
  }
}
.wishlist {
  padding-top: 120px;
}
.wishlist__search {
  .hero__filter {
    height: auto;
  }
  h2 {
    font-family: "Gilroy-Bold";
    font-size: 28px;
    line-height: 33px;
    color: #075f43;
    text-align: center;
    margin: 28px 0;
  }
}
.acount-wishlist {
  padding-top: 180px;
  padding-bottom: 70px;
  .container {
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 60px;
  }
  .section__title {
    h2 {
      font-size: 28px;
      line-height: 33px;
      text-align: center;
      color: #075f43;
    }
  }
  .btn__home {
    margin-top: 30px;
  }
}

.acount-massage {
  padding-bottom: 70px;
  .hero__filter {
    background: transparent;
    backdrop-filter: none;
    height: auto;
  }
  .container {
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 60px;
  }
  .section__title {
    p {
      margin-top: 40px;
      font-weight: 700;
      font-size: 21px;
      line-height: 25px;
      text-align: center;
      color: #333333;
    }
    h2 {
      font-size: 28px;
      line-height: 33px;
      text-align: center;
      color: #075f43;
    }
  }
}
.newsletter__form {
  flex-wrap: wrap;
  button {
    margin: 82px auto 0 auto;
    max-width: 260px;
    width: 100%;
  }
  .custom__select {
    max-width: 24%;
  }
}
.newsletter {
  .section__title {
    p {
      margin-top: 40px;
      font-weight: 700;
      font-size: 21px;
      line-height: 25px;
      text-align: center;
      color: #333333;
    }
    h2 {
      font-size: 28px;
      line-height: 33px;
      text-align: center;
      color: #075f43;
    }
  }
  .container {
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 60px;
  }
}
.acount {
  background: url(@img/acount.png) center bottom/cover no-repeat;
}
.massage__info {
  display: flex;
  align-items: center;
  background: #eeeeee;
  border: 1px solid #ffffff;
  border-radius: 30px;
  padding: 10px;
  max-width: 600px;
  margin: 25px auto 25px auto;
}
.info__detail {
  max-width: 500px;
  margin-left: 15px;
  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #626262;
  }
}
.newslater__jk {
  display: flex;
  align-items: center;
  justify-content: center;
  form {
    flex-direction: column;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    button{
      width: 255px;
    }
    label {
      display: flex;
      align-items: center;
      margin-bottom: 50px;
      input {
        background: #ffffff;
        border: 1px solid #c4c4c4;
        border-radius: 10px;
        padding: 12px 0;
        text-align: center;
        width: 255px;
        &::placeholder {
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          color: #cfcfcf;
        }
      }
      p {
        font-weight: bold;
        font-size: 21px;
        line-height: 25px;
        color: #333333;
        margin-right: 15px;
      }
    }
  }
}
